version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: aws-demo-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: laravel
      POSTGRES_USER: laravel
      POSTGRES_PASSWORD: laravel
    ports:
      - "15432:5432"
    volumes:
      - ./.docker/postgres-data:/var/lib/postgresql/data
